@tailwind base;
@tailwind components;
@tailwind utilities;

.cursor-light {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  pointer-events: none;
  background: radial-gradient(circle, rgba(16, 185, 129, 0.2) 0%, transparent 100%);
  mix-blend-mode: overlay;
  transform: translate(-50%, -50%);
  transition: transform 0.05s linear;
  z-index: 9999;
}
